html,
body 
{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
}

#map 
{
    width: 100%;
    height: 100vh;
}

.header 
{
    padding: 5px;
}